<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get" action="user/signUP">
    <button type="submit">Sign UP</button>
    </form>
    <form method="get" action="user/logIN">
        <button type="submit">LogIn</button>
    </form>
</body>
</html>